// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);

#top{
    font-size: 20px;
    background-image: url('assets/stars.gif');*/
    background-color:red;
    background-size: cover;
    width: 100%;
    color: ivory;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -webkit-align-items: center;
    display: flex;   
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 450px;
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 10px;
}
#box{
    position:absolute;
    align-content: center;
    left: 35%;
    border: 1px solid ivory;
    width: 325px;
    padding-left: 8px;
    animation-name: bounceIn; 
    }
    
h1{
    display:block;
    width: 900px;
    }
h2{
    text-decoration: underline;
    font-family: inherit;
}
h3{
    padding-left: 75px;
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
}

li{
    display: inline-block;
    color: ivory;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.8s;
    background: transparent;
    color: white;
}
/* Float */
.float {
	display: inline-block;
	transition-duration: $defaultDuration;
	transition-property: transform;
    background: transparent;
    color: white;
    font-family: "helvetica Neue", Helvetica, Arial,sans-serif;
	&:hover {
		transform: translateY(-5px);
	}
}
h2{
    position:absolute;
    left:45%;
}

.container{
    padding:30px;
    border-radius: 10px;
}
.mySlides{
    display: inline-block;
    padding:20px;
    border-radius: 10px;
    align-content: center;
    display: inline-block;
}
.mySlides img{
    height: 250px;
    width: 250px;
}
